local_BEARER_TOKEN=
dev_BEARER_TOKEN=
test_BEARER_TOKEN=
perf_test_BEARER_TOKEN=
dev_ClientID=
dev_ClientSecret=
test_ClientID=
test_ClientSecret=
perf_test_ClientID=
perf_test_ClientSecret=

# Local environment variables
ENVIRONMENT=local
dev_API_KEY=
test_API_KEY=
perf_test_API_KEY=
RUN_ENV=local
