BEARER_TOKEN = <token_value>
dev_ClientID=
dev_ClientSecret=

# Local environment variables
ENVIRONMENT=
API_KEY=
RUN_ENV=

# Override postgres config
POSTGRES_REGION=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
